<mat-toolbar class="navbar-style" color="primary">
    <mat-toolbar-row>
      <a class="example-icon" color="primary" routerLink="/gec"><span>gec</span></a>
      <span class="gec-spacer"></span>
      <button routerLink="/news" mat-raised-button color="primary">News</button>
      <button routerLink="/blog" mat-raised-button color="primary">Blogs</button>
      <button routerLink="/event" mat-raised-button color="primary">Events</button>
      <button routerLink="/project" mat-raised-button color="primary">Projects</button>
      <span class="gec-spacer"></span>
      <button routerLink="/blog" mat-raised-button color="primary"><mat-icon>personadd</mat-icon></button>
      <button routerLink="/login" mat-raised-button color="accent"><mat-icon class="example-icon">face</mat-icon></button>
      <!-- <a class="example-icon" routerLink="/blog"><mat-icon>person</mat-icon></a>
      <a class="example-icon" routerLink="/blog"><mat-icon class="example-icon">face</mat-icon></a> -->
    </mat-toolbar-row>
  </mat-toolbar>
  
  