<mat-toolbar class="navbar-style" color="primary">
    <mat-toolbar-row>
      <a class="example-icon" routerLink="/gec"><span>Gec</span></a>
      <span class="gec-spacer"></span>
      <button routerLink="/news" class="button" mat-button>News</button>
      <button routerLink="/blog" mat-button>Blogs</button>
      <button routerLink="/event" mat-button>Events</button>
      <button routerLink="/blog" mat-button>Projects</button>
      <span class="gec-spacer"></span>
      <button routerLink="/blog" mat-button><mat-icon>person</mat-icon></button>
      <button routerLink="/blog" mat-button><mat-icon class="example-icon">face</mat-icon></button>
      <!-- <a class="example-icon" routerLink="/blog"><mat-icon>person</mat-icon></a>
      <a class="example-icon" routerLink="/blog"><mat-icon class="example-icon">face</mat-icon></a> -->
    </mat-toolbar-row>
  </mat-toolbar>
  
  