<mat-card *ngIf="blog" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{blog.title}}</mat-card-title>
        <mat-card-subtitle>{{blog?.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{blog.imageUrl}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{blog.content}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">LIKE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
    </mat-card>
  